<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ pageTitle }} | Lucián Blažek</title>
</head>
<body>
{% block menu %}
    {{ include('components/menu.html.twig') }}
{% endblock %}
<div class="container">
    {% if user is defined %}
        {% block content %}

        {% endblock %}
    {% else %}
        {{ include('components/logout.html.twig') }}
    {% endif %}
</div>
</body>
</html>
